<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="icon" href="img/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body>
    <div class="main-content">
        {{>header}}
    <br>
    <p>
        # Built with NodeJS. 
        <br>
        <br>
        # API's used: Mapbox and WeatherStack.
    </p>
    <img class="photo" src="img/phone.jpg" alt="Dik">
    </div>
    {{>footer}}
</body>
</html>